<%# <form action="/play" method="post">
  <input type="submit" value="attack_player_two">
  </form> %>

  <%# <button>Attack Player One</button> %>

<%= @p1%> attacked <%= @p2%>
<br>
<br>
Player two has been hit!
<br>
<br>
<%= @p1%> : <%= @player_two_points = 100 %> 
<br>
<%= @p2%> : <%= @player_two_points = 90 %> 
   
